* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background:url('https://i.pinimg.com/originals/90/52/90/9052904eec6d5466ee37b7e4027ffce8.png');
    color: black;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    background:whitesmoke;
    color: #4CAF50;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

.cta-button:hover {
    background: #e0e0e0;
}

section {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
}

section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea, form button {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #45a049;
}

footer{
    padding: auto;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 600px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    .cta-button {
        font-size: 1rem;
        padding: 8px 16px;
    }
}